* {
    padding: 0;
    margin: 0;
  }
  body {
    background-image: url('Picture/4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    display: grid;
    
  }
  
  canvas {
    background: url("Picture/5.jpg");
    display: block;
    margin: 0 auto;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px;
  }
  #scoreDis {
      padding: 38px;
      background-color: royalblue;


  }
  .neon {
    position: relative;
    overflow: hidden;
    filter: brightness(200%);
}

.text {
    background-color: black;
    color: white;
    font-size: 120px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    user-select: none;
   
}

.text::before {
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;

}

.gradient {
    position: absolute;
    background: linear-gradient(45deg, red, gold, lightgreen, gold, red);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}

.spotlight {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(
            circle,
            white,
            transparent 25%
        ) center / 25% 25%,
        radial-gradient(
            circle,
            white,
            black 25%
        ) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
}

@keyframes light {
    to {
        transform: translate(50%, 50%);
    }
}
